doctype html
html.is-copy-enabled.is-u2f-enabled(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sign.css')
    
  body
    block content
    script(type='text/javascript', href='/lib/angular/angular.js')
    script(type='text/javascript', href='/lib/jquery/dist/jquery.js')
    script(type='text/javascript', href='/lib/bootstrap/dist/js/bootstrap.js')