extends layout

block content
  .sign
    h2.text-center Join iTeams
    
    .container
      form.form-horizontal(role='form',method='post',action='/session')
        .form-group
          label.col-md-4.control-label Email
          .col-md-4
            input.form-control(type='email',id='user_email',name='user_email', placeholder='Email' required autofocus)
          p.help-block say something about input email
        .form-group
          label.col-md-4.control-label Name
          .col-md-4
            input.form-control(type='text',id='user_name',name='user_name', placeholder='Name' required autofocus)
          p.help-block say something about input name
        .form-group
          label.col-md-4.control-label Password
          .col-md-4
            input.form-control(type='password',id='user_password1',name='user_password1', placeholder='Password' required autofocus)
          p.help-block say something about input password
        .form-group
          label.col-md-4.control-label Repeat Password
          .col-md-4
            input.form-control(type='password',id='user_password2',name='user_password2', placeholder='Password' required autofocus)
          p.help-block say something about repeat input password
        .form-group
          .col-md-offset-4.col-md-4
            button.btn.btn-primary.btn-block(type='submit') Create an account

